.title {
    color: #d54d7b;
    font-family: "Great Vibes", cursive;
    font-size: 50px;
    line-height: 160px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}

.user {
    display: inline;
    font-weight: bold;
}

.message {
    display: inline;
    font-family: 'Roboto', sans-serif;
}

.dateTime {
    display: inline;
    color: gray;
}

.highlight {
    text-decoration: underline;
    color: pink;
    cursor: pointer;
}

.btn {
    margin-top: 20px;
    background-color: #d54d7b;
    color: white;
}

.btn .home {
    margin-left: 10px;
}

.timeline {
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}